scrollbar {
  background-color: whitesmoke;
  border: 1px solid transparent;
  min-width: 1em;
  min-height: 1em;
}
scrollbar slider {
  background-color: silver;
}
scrollbar slider:hover, scrollbar slider:hover:active {
  background-color: sienna;
}
menu menuitem:hover, .menu menuitem:hover, .context-menu menuitem:hover {
  background-color: sienna;
}
menubar > menuitem:hover, .menubar > menuitem:hover {
  color: white;
  background-color: sienna;
  box-shadow: none;
}

menu, .menu, .context-menu {
  background-color: whitesmoke;
}
